@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

@layer base {
  :root {
    --blue-background: #f0f8ff;
    --primary-white: #ffffff;
    --accent-button: #40a2e3;

    --background: 0 0% 100%;
    --primary: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl font-extrabold md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl  font-semibold md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl  font-semibold md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg  font-semibold md:text-xl lg:text-2xl;
  }

  p {
    @apply text-base  leading-relaxed lg:leading-loose;
  }

  .active-link {
    @apply rounded-md bg-slate-600 px-2 font-extrabold;
  }
}

* {
  font-family: var(--font-geist-sans);
}

.btn-primary {
  background-color: #7a9e9f;
}

.big-container {
  margin-inline: auto;
  width: min(90%, 80.5rem);
}

.narrow-container {
  margin-inline: auto;
  width: min(80%, 55.5rem);
}

.block-space {
  padding-block: min(12vh, 17rem);
}

.block-space-mini {
  padding-block: min(3vh, 6rem);
}

.parent-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.heading::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-block: auto;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  display: block;
  background-color: black;
}

.image-zoom {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.image-zoom::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1515868769-ad822a0c67e9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.4s ease-in-out;
}

.image-zoom:hover::after {
  transform: scale(1.1); /* Change 1.1 to your desired zoom level */
}

.header-container {
  position: relative;
  /* Other styles */
}

.cursor-circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #ffff;
  transition: 0.1s;
  transform: translate(-50%, -60%);
  pointer-events: none;
  mix-blend-mode: difference;
}

.header-container:hover .cursor-circle {
  width: 25px;
  height: 25px;
}
nav:hover ~ .cursor-circle {
  transform: scale(3); /* Scale up on hover */
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.5);
}
